.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
}

.arrow {
  display: grid;
  place-items: center;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.photo {
  width: 100px; /* Adjust the width as needed */
}
